    /* login page */

    @import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Princess+Sofia&family=Sofia&family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
  
}

body {
    /* background: linear-gradient(to right, #4facfe, #00f2fe); */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    background: rgba(255,255,255, 0.4);
    /* backdrop-filter: blur(10px); */
    padding: 40px 30px;
    border-radius: 15px;
    width: 350px;
    /* box-shadow: 0 8px 30px black; */
    text-align: center;
    position: relative;
    transform: translateY(-50px);
}

.avatar {
    width: 120px;
    height: 120px;
    opacity: 0.7;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    background: white;
    padding: 5px;
    border: 1px solid white;
    transform: translateY(25PX);
    position: relative;
    z-index: 2;
}

#formTitle {
    margin-bottom: 20px;
    margin-top: 20PX;
    color: white;
}

.input-group {
    display: flex;
    border-radius: 5px;
}

.input-group i.icon {
    text-align: center;
    padding: 10px;
    background: white;
    color: #1e90ff;
    font-style: normal;
    font-size: 16px;    
    margin: 10px auto;

  }

  .input-group input:focus {
    outline: none;
    border: none;
  }

.field {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border: none;
    /* border-radius: 5px; */
    /* border: 1px solid lightgray; */
}

#formbtn {
    display: block;
    margin: auto;
    padding: 10px 20px;
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

#formbtn:hover {
    background-color: rgb(11, 117, 246);
}

.label1, .p1 {
    font-size: 14px;
    color: white;
    margin-top: 10px;
}
.label1 {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-bottom: 10px;
}
.a1 {
    text-decoration: none;
    color: white;
}
.a1:hover {
    text-decoration: underline;
}
#message {
    margin-top: 10px;
    color: red;
}

@media screen and (max-width: 350px) {
    .container {
        width: auto;
    }
    .label1 {
        width: 60%;
        margin-bottom: 20px;
    }
    .avatar {
        width: 100px;
        height: 100px;
        top: -5px;
    }

}

/* Styling for Home page */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin-left: 50px;
    font-size: 24px;
}

header h1 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

header div a {
    text-decoration: none;
    /* font-size: 20px; */
}

@media screen and (max-width:800px) {
    header {
        display: block;
        text-align: center;
    }
    header h1 {
        font-size: xx-large;
        margin: 30px;
    }

    header nav {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: block;
        grid-template-columns: auto;
        text-align: center;
        margin: none;
    }
    header h1 {
        margin-bottom: 20px;
        font-size: x-large;
    }
 
    header nav {
        display: block;
        margin-bottom: 15px;
    }
    header nav a {
        display: block;
        padding: 8px;
    }

    header div a, header div p{
        display: block;
        padding: 10px;
        width: 100%;
        margin-bottom: 15px;
    }

    header div a span {
        display: none;
    }
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.welcome {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.hero {
    background: linear-gradient(to right, transparent, transparent,rgb(253, 225, 225), rgb(253, 225, 225), transparent, transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    gap: 40px;
}

.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero-left p {
    font-size: 16px;
    line-height: 1.6;
    color: gray;
}
.hero-left .btn {
    margin-top: 20px;
}

.hero-center {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-center img {
    max-width: 100%;
    height: auto;
    display: block;
    scale: 1.5 1.5;
}

.status-card {
    position: absolute;
    height: auto;
    /* font-size: clamp(12px, 1.5vw, 18px); */
    top: -15%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255, 0.3);
    box-shadow: 0 8px 24px rgba(0,0,0, 0.2);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    z-index: 2;
}

.hero-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.user-info {
    background: rgba(255,255,255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 24px rgba(0,0,0, 0.1);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    align-items: center;
    max-width: 300px;
}

.user-info div {
    margin-left: 15px;
}

.users {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin-left: -15px;
}

.hero-buttons {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    justify-content: flex-end;
    /* transform: translateY(150px); */
}

.btn-hero {
    border: 2px solid red;
    background: transparent;
    color: red;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 15px;
}

.learn-link {
    columns: black;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    text-align: right;
    display: block;
}

.logoipsum {
    width: 80%;
    overflow:hidden;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: white;
    border: none;
    box-shadow: 0 8px 24px rgba(0,0,0, 0.2);
}

.logoipsum img {
    height: 30px;
}

@media screen and (max-width: 750px) {
    .hero {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    .hero-left, .hero-right, .hero-center {
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }
    .hero-right {
        margin-top: 20px;
        text-align: center;
    }
    .hero-buttons {
        justify-content: center;
        margin-top: 15px;
        transform: translateY(0px);
        grid-template-columns: 1fr;
    }
    .learn-link {
        text-align: center;
    }
    .hero-center {
        display: flex;
        flex-direction: column;
        margin-top: 130px;
    }
    .status-card {
        display: block;
        font-size: medium;
        left: 50%;
        top: -100px;
        /* left: 50%;
        top: 150%; */
    }
    .hero-center img {
        max-width: 100%;
    }
}

/* ------------------------------------------------------------------------- */
.fleet {
    margin-top: 20px;
    text-align: center;
    padding: 40px 10%;
}

.fleet h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.cars {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */

    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 20px;
}
@media screen and (max-width: 900px) {
    .cars {
    grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .cars {
    grid-template-columns: 1fr;
    }
}


.car-card {
    width: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.car-card h4 {
    font-size:x-large;
}

.car-card div {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.car-card  .btn {
    padding: 0 25px;
}

.car-card div p {
    font-size: 14px;
}

.car-card div span {
    display: block;
    font-size: large;
}

.car-card:hover {
    background-color: red;
    color: white;
    transform: translateY(-5px);
    p, p > span {
        color: white;
    }
    .btn {
        background-color: white;
        color: red;
    }

}

.car-card img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.car-card h4 {
    margin-bottom: 5px;
}

.car-card p {
    margin-bottom: 10px;
    color: gray;
}

.car-card p span {
    font-weight: bold;
    color: black;
}

.car-card .btn {
    font-size: 14px;
}

.contactForm {
    width: 80vw;
}

/* Styling the service page */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-container {
    /* padding: 15px; */
    width: 90%;
  }
  
.toolbar {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}
  
.searchField {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid grey;
    width: 40%;

}
  
.sbtn {
    padding: 6px 14px;
    border: none;
    background-color: rgb(248, 87, 87);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
#rentalTable {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 30%;
    overflow-x: auto;
}

.rentalTable {
    overflow-x: auto;
}

#rentalTableBody td {
    min-width: 120px;
}

#rentalTableBody td:last-child  {
    min-width: 150px;
}

#rentalTable th, #rentalTable td {
    border-bottom: 1px solid grey;

}
#rentalTable tr, #rentalTable th, #rentalTable td {
    padding: 5px;
}

#rentalTable tr:hover {
    background-color: rgb(211, 208, 208);
}

.seebtn {
    cursor: pointer;
    background-color: rgb(248, 87, 87);
    color: white;
    padding:10px;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
}

.editbtn, .modal-box .okbtn {
    cursor: pointer;
    background-color: rgb(245, 194, 27);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
}

.deletebtn, .modal-box .cancelbtn {
    cursor: pointer;
    background-color: rgb(248, 87, 87);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
}

@media screen and (max-width: 500px) {
    .toolbar {
        margin-top: 0;
        display: block;
        text-align: center;
    }
    .toolbar .searchField {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
    #rentalTable th:last-child, #rentalTable td:last-child  {
        width: 200px;
    }

    .sbtn {
        margin: 0 5px;
    }
}

/* Styling the Popup fields */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background-color: rgb(240, 176, 176);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0, 0, 20px rgba(0,0,0, 0.6);
    position: relative;
}

.modal-box h2 {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: red;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.modal-box input, .modal-box select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.modal-box label {
    width: 40%;
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
}

.modal-box p {
    padding: 10px;
}

@media screen and (max-width: 780px) {
    .modal-box {
        max-height: 90%;
        overflow: auto;
    }
    .modal-box label {
        width: 60%;
    }
}

/* Styling the reservation page */

.reservation-page h2 {
    text-align: center;
}

.reservation-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    justify-content: center;
}

.reservation-card {
    width: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    padding: 20px;
    transition: transform 0.2s;
    position: relative;
}

.reservation-card:hover {
    transform: translateY(-5px);
    background-color: rgb(252, 225, 225);
  }

.reservation-card img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.reservation-card h3 {
    margin: 0 0 10px;
    color: rgb(241, 33, 33);
  }

  .reservation-card p {
    margin: 5px 0;
    color: gray;
    font-size: 14px;
  }

  .reservation-card p strong {
    color: black;
  }

  .delete-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 6px 10px;
    background-color: rgb(201, 60, 60);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

footer {
    background-color: lightblue;
    width: 100%;
    padding: 20px 10%;
    text-align: center;
    margin-top: 20px;
}